<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598918754873-s1ui74k6da2fnj89ka8stdas88qihf7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598918754873-s1ui74k6da2fnj89ka8stdas88qihf7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAqDs3QYGMbJddBj8bDT3BuC4RGK9K6J5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>598918754873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahimdemirci.TechcareerFinalProject</string>
	<key>PROJECT_ID</key>
	<string>bcfinalprojectfoodapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bcfinalprojectfoodapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598918754873:ios:5dfa9b5431362bed4e13e8</string>
</dict>
</plist>